{{#partial "content"}}
    {{#each myRectangles}}
    <p><h3>Your rectangle's height is {{length}}</h3></p>
     <p><h3>Your rectangle's width is {{width}}</h3></p>
    {{/each}}
{{/partial}}
{{> layout.hbs}}